/* first breakpoint */

@media (max-width: 1800px) {

	.container {
		padding: 0 67px;
	}

	.search__form--active {
    right: 3.8vw;
    width: 539px;
    height: 60px;
    transition: right 0.3s ease-in-out;
    z-index: 100;
	}

	.hero__container {
		padding: 0 78px;
	}

	.about-content__left {
		width: 49%;
	}

	.about-content__right {
		width: 49%;
	}

	.about-right__item {
		padding: 58px 100px 55px 290px;
	}

	.footer__container {
    padding-top: 41px;
	}

}

/* second breakpoint */

@media (max-width: 1440px) {

	.search__form--active {
    right: 4.6vw;
    width: 539px;
    height: 60px;
    transition: right 0.3s ease-in-out;
    z-index: 100;
	}

	.about-content__left {
		margin-right: 0;
		max-width: 100%;
	}

	.about-left__text {
		margin-right: 40px;
	}

	.about-content__right {
		margin-right: 0;
		max-width: 100%;
	}

	.about-right__item {
    padding: 58px 50px 55px 290px;
	}

	.work-right__img {
		height: 487px;
	}

	.footer__container {
		padding-bottom: 46px;
	}

	.footer__describe {
		display: none;
	}

	.footer__descr {
		display: none;
	}

}

/* third breakpoint */ 

@media (max-width: 1200px) {

	.container {
		padding: 0 40px;
	}

	.header__container {
		height: 100px;
	}

	.burger {
		position: relative;
		display: block;
		width: 30px;
		height: 23px;
	}

	.burger__line {
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 3px;
		background-color: var(--color-mine-shaft);
	}

	.burger__line:first-child {
		top: 0;
		left: 0;
	}

	.burger__line:nth-child(2) {
		top: 45%;
		left: 0;
	}

	.burger__line:last-child {
		bottom: 0;
		left: 0;
	}

	.logo__img {
		width: 156px;
	}
	
	.nav {
		position: absolute;
		top: 0;
		left: -100vw; 
		padding: 50px;
		width: 413px;
		height: 769px;
		z-index: 100;
		background-color: var(--color-white);
		box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
		transition: left 0.3s ease-in-out;
	}

	.nav__list {
		flex-direction: column;
		align-items: flex-start;
		padding-left: 3px;
	}

	.nav__item {
		margin-right: 0;
	}

	.nav__item:not(:last-child) {
		margin-bottom: 61px;
	}

	.nav__link {
		font-size: 24px;
		line-height: 29px;
	}

	.menu-close {
		position: relative;
		display: block;
		margin-bottom: 99px;
		width: 30px;
		height: 30px;
	}

	.menu-close::before,
	.menu-close::after {
		content: '';
		position: absolute;
		top: 14px;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: var(--color-mine-shaft);
		transition: background 0.3s ease-in-out;
	}

	.menu-close::before {
		transform: rotate(45deg);
	}

	.menu-close::after {
		transform: rotate(-45deg);
	}

	.menu-close:hover::before {
		background-color: var(--color-orange-peel);
		transition: background 0.3s ease-in-out;
	}

	.menu-close:hover::after {
		background-color: var(--color-orange-peel);
		transition: background 0.3s ease-in-out;
	}

	.menu-close:active::before {
		background-color: var(--color-christine);
		transition: background 0.3s ease-in-out;
	}

	.menu-close:active::after {
		background-color: var(--color-christine);
		transition: background 0.3s ease-in-out;
	}

	.is-active {
		left: 0; 
		padding: 34px 32px 32px 39px;
		width: 420px;
		height: 769px;
		z-index: 100;
		transition: left 0.3s ease-in-out;
	}

	.search__form--active {
		right: 3vw;
		width: 35%;
		height: 60px;
		transition: right 0.3s ease-in-out;
		z-index: 100;
	}

	/* hero */

	.hero {
		margin-bottom: 86px;
		padding: 0 40px;
	}

	.hero__container {
		padding: 0;
	}

	.hero-content {
    margin: 163px 80px 160px 79px;
	}

	.hero-content__title {
		margin-bottom: 13px;
		font-size: 60px;
		line-height: 74px;
	}

	.hero-content__text {
		margin-bottom: 58px;
		max-width: 660px;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
	}

	/* about */ 

	.about {
		margin-bottom: 86px;
	}

	.about__title {
		margin-bottom: 8px;
	}

	.about__text {
		margin-bottom: 62px;
	}
	
	.about-content {
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.about-content__left {
		margin-bottom: 32px;
		min-height: 640px;
		width: 100%;
	}

	.about-left__inner {
		width: 100%;
		padding: 50px 51px 50px 52px;
	}

	.about-left__text {
		margin-right: 0;
		max-width: 454px;
	}

	.about-content__right {
		width: 100%;
	}

	.about-right__item {
		padding: 64px 130px 66px 317px;
		background-position: left 78px top 64px;
	}

	.about-right__item:first-child {
		background-position: left 78px top 64px;
	}

	/* work */

	.work {
		margin-bottom: 83px;
	}

	.work__title {
    margin-bottom: 50px;
	}

	.work__list {
		margin-bottom: 51px;
	}

	.work-left {
		width: 51%;
	}

	.work-left__text {
		max-width: 437px;
		margin-bottom: 23px;
	}

	.work-left__btn:first-child {
		margin-right: 33px;
	}

	.work-right {
		width: 47%;
		padding-top: 10px;
	}

	.work-right__img {
    height: 688px;
	}

	/* questions */

	.questions__container {
		margin-bottom: 80px;
	}

	.accordion__item {
		padding: 35px 0;
	}

	.questions__title {
		margin-bottom: 30px;
	}

	.questions__subtitle {
		padding-right: 150px;
		font-weight: 700;
		font-size: 20px;
		line-height: 32px;
	}
	
	.questions__descr {
		width: 100%;
	}

	/* footer */

	.footer__container {
		display: flex;
		justify-content: space-between;
		padding-top: 44px;
		padding-bottom: 46px;
	}

	.footer__links {
		width: 372px;
	}

	.footer__request {
		width: 545px;
		margin-right: 0;
	}

	.footer__btn {
		padding: 1.2em 2.3em;
	}

	.footer__describe {
		display: none;
	}

}

/* fourth breakpoint */

@media (max-width: 1010px) {

	.search__form--active {
		right: 3vw;
		padding-left: 20px;
		width: 35%;
		height: 60px;
		transition: right 0.3s ease-in-out;
		z-index: 100;
	}

	.checkbox {
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
	}

	.checkbox__text::before {
    top: 8px;
	}

	.checkbox__text::after {
    top: 8px;
	}

	.social__item {
		margin-right: 10px;
	}

}

/* fifth breakpoint */

@media (max-width: 800px) {

	.is-active {
		width: 412px;
		height: 731px;
	}

	.search__form--active {
		right: 3vw;
		padding-right: 15px;
		padding-left: 15px;
		width: 35%;
		height: 60px;
		transition: right 0.3s ease-in-out;
		z-index: 100;
	}

	.search-form__btn {
    margin-right: 15px;
	}

	.work__list {
    justify-content: space-between;
	}

	.work {
    margin-bottom: 89px;
	}

	.work__content {
    flex-direction: column-reverse;
	}

	.work__list {
    margin-bottom: 38px;
	}

	.work-right {
		margin-bottom: 36px;
    width: 100%;
	}

	.work-right__img {
    height: 283px;
	}

	.work-left {
    width: 100%;
	}

	.work-left__text {
		max-width: 100%;
	}

}

/* sixth breakpoint */

@media (max-width: 768px) {

	.header__container {
		height: 70px;
	}

	.is-active {
		padding: 17px 32px 32px 39px;
	}

	.search__form--active {
		top: 15px;
		right: 5vw;
		padding-right: 10px;
    padding-left: 10px;
		width: 250px;
		height: 40px;
		transition: right 0.3s ease-in-out;
		z-index: 100;
	}

	.search__input::placeholder {
		padding: 5px 0;
	}

	.search-form__btn {
    margin-right: 10px;
	}

	.hero {
		margin-bottom: 80px;
	}

	.hero__container {
    padding: 0;
		height: 99%;
	}

	.hero-content {
    margin: 162px 42px 161px 42px;
	}

	.hero-content__title {
		margin-bottom: 14px;
    font-size: 50px;
    line-height: 61px;
	}

	.hero-content__text {
		font-size: 18px;
    line-height: 22px;
	}

	.about {
    margin-bottom: 84px;
	}

	.about-content__left {
		min-height: 650px;
	}

	.about-left__inner {
    padding: 35px 42px 32px 42px;
	}

	.about__text {
    margin-bottom: 59px;
	}

	.about-left__text {
    margin-right: 45px;
	}

	.about-right__item {
    padding: 33px 43px 33px 170px;
		background-size: 114px 99px;
		background-position: left 41px top 66px;
	}

	.about-right__item:first-child {
    background-position: left 41px top 67px;
	}

	.about-right__title {
		margin-bottom: 5px;
	}

	.questions__container {
    margin-bottom: 45px;
	}

	.questions__title {
    margin-bottom: 34px;
	}

	.questions__subtitle {
    padding-right: 95px;
	}

	.footer__container {
    flex-direction: column-reverse;
	}

	.footer__nav {
    display: none;
	}

	.footer__request {
		margin-bottom: 42px;
		width: 100%;
	}

	.footer__logo {
    margin-bottom: 13px;
	}

	.footer__btn {
		padding: 1.16em 2.38em;
	}

	.footer__social {
		width: 65%;
	}

	.checkbox {
		top: 0;
    display: inline;
	}

	.checkbox__text::before {
    top: 1px;
	}

	.checkbox__text::after {
    top: 1px;
	}

}

/* seventh breakpoint */

@media (max-width: 550px) {

	.container {
    padding: 0px 6px;
	}

	.nav {
		left: -150vw; 
		z-index: 100;
	}

	.nav__item:not(:last-child) {
    margin-bottom: 32px;
	}

	.nav__link {
		font-size: 16px;
		line-height: 20px;
	}

	.is-active {
		left: 0; 
		padding: 19px 32px 32px 4px;
		width: 303px;
		height: 378px;
		z-index: 100;
		transition: left 0.3s ease-in-out;
	}

	.search__form {
		right: -200vw;
	}

	.search__form--active {
    top: 2px;
    right: 1vw;
    padding-right: 10px;
    padding-left: 10px;
    width: 85%;
    height: 64px;
    transition: right 0.3s ease-in-out;
    z-index: 100;
	}

	.menu-close {
		margin-bottom: 30px;
	}
	
	.logo__img {
    width: 110px;
	}

	.hero {
		margin-bottom: 62px;
		padding: 0;
		height: 307px;
	}

	.hero__container {
		height: 100%;
	}

	.hero-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		padding: 60px 20px 60px 20px;
	}

	.hero-content__title {
		margin-bottom: 7px;
		text-align: center;
    font-size: 20px;
    line-height: 24px;
	}

	.hero-content__text {
		margin-bottom: 32px;
		text-align: center;
    font-size: 12px;
    line-height: 15px;
	}

	.hero-content__btn {
		margin: 0 auto;
    padding: 1.04em 2.38em;
    font-size: 12px;
    line-height: 15px;
	}

	.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 10px;
		width: 10px;
		height: 10px;
	}

	.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 10px;
	}

	.title {
		margin-bottom: 18px;
		font-size: 24px;
		line-height: 29px;
	}
	
	.about {
    margin-bottom: 59px;
	}

	.about__text {
		margin-bottom: 14px;
		font-size: 14px;
		line-height: 28px;
	}

	.about-content__left {
		margin-bottom: 25px;
		min-height: 400px;
		background-size: 100% 50%;
		background-position: top;
	}

	.about-left__inner {
		padding: 0;
		flex-direction: column;
		background: none;
	}

	.about-content__left::before {
		background: none;
	}

	.about-left__text {
		margin: 0;
		max-width: 100%;
		font-weight: 400;
		font-size: 14px;
		line-height: 28px;
		color: var(--color-mine-shaft);
	}

	.about-left__btn {
		margin: 10px auto 0 0;
		padding: 0.8em 3.5em;
		font-size: 12px;
		line-height: 15px;
		color: var(--color-orange-peel);
	}

	.about-left__btn:hover {
		color: var(--color-white);
	}

	.about-left__btn:focus {
		color: var(--color-white);
	}

	.about-right__item {
		border: none;
		padding: 68px 0px 0px 0px;
    background-size: 64px 64px;
		background-position: left 1px top -3px;
	}

	.about-right__item:first-child {
		margin-bottom: 25px;
    background-position: left 1px top -1px;
		background-size: 64px 64px;
	}

	.about-right__item-top {
		background-image: url(../img/about-icon-1-adaptiv.svg) !important;
	}

	.about-right__item-bottom {
		background-image: url(../img/about-icon-2-adaptiv.svg) !important;
	}

	.about-right__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}

	.about-right__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 28px;
	}

	.work {
		margin-bottom: 60px;
	}

	.work__list {
    margin-bottom: 5px;
	}

	.work__item:not(:last-child) {
		margin: 0;
	}

	.work__btn {
		font-size: 14px;
		line-height: 17px;
	}

	.work-left__title {
		font-weight: 500;
		font-size: 18px;
		line-height: 32px;
	}

	.work-right {
    margin-bottom: 12px;
	}

	.work-right__img {
    height: 160px;
	}

	.work-left__text {
		margin-bottom: 16px;
		font-size: 14px;
		line-height: 28px;
	}

	.work-left__btn {
		font-size: 12px;
		line-height: 15px;
	}

	.work-left__btn:first-child {
    margin-right: 11px;
		padding: 12px 44px;
  }

	.work-left__btn-border {
		padding: 12px 32px;
	}

	/* questions*/

	.questions__container {
    margin-bottom: 60px;
	}

	.questions__title {
		margin-bottom: 17px;
	}

	.questions__subtitle {
		padding-right: 50px;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
	}

	.questions__descr {
		font-size: 12px;
		line-height: 24px;
	}

	.accordion__item {
		padding: 30px 0;
	}

	.accordion__item:nth-child(even) {
		padding: 16px 0;
	}

	.accordion__item svg {
		margin-top: -15px;
		width: 30px;
		height: 30px;
	}

	/* footer */

	.footer__request {
		margin-bottom: 15px;
		width: 100%;
	}

	.footer__links {
		padding-top: 16px;
		border-top: 1px solid var(--color-scorpion);
    width: 100%;
	}

	.footer__title {
    margin: 0;
    margin-top: 34px;
		margin-bottom: 19px;
	}

	.footer__form {
		width: 100%;
	}

	.footer__input::placeholder {
		font-size: 14px;
		line-height: 32px;
	}

	.footer__input-text {
    margin-bottom: 25px;
		padding-top: 14px;
		padding-bottom: 118px;
	}

	.footer__btn {
		display: block;
		margin: 0 auto;
		margin-bottom: 14px;
		padding: 1em 2.4em;
		font-size: 12px;
		line-height: 15px;
	}

	.checkbox {
		display: flex;
		justify-content: center;
  }

	.checkbox__text::before {
    top: 8px;
	}

	.checkbox__text::after {
    top: 8px;
	}

	.footer__logo {
		display: flex;
		margin-bottom: 16px;
	}

	.footer__logo-img {
		margin: 0 auto;
 		width: 131px;
	}

	.footer__social {
		justify-content: space-around;
		margin: 0 auto 25px auto;
		width: 57%;
	}

	.social__item {
		margin: 0;
	}

	.social__icon svg {
		width: 40px;
		height: 40px;
	}
	
}
